					
					
					
					{% if page.object_list.count > 0 %}
						<div class="pagination">
						  <ul>
						  	{% if page.has_previous %}
						  		<li><a href="?page=1&pageSize={{GLOBAL_LIST_PER_PAGE}}">首页</a></li>
						    	<li><a href="?page={{ page.previous_page_number }}&pageSize={{GLOBAL_LIST_PER_PAGE}}">上一页</a></li>
						    {% endif %}
						    <li><a>{{ page.number }} / {{ page.paginator.num_pages }}</a></li>
						    
						    {% if page.has_next %}
						    	<li><a href="?page={{ page.next_page_number }}&pageSize={{GLOBAL_LIST_PER_PAGE}}">下一页</a></li>
						    	<li><a href="?page={{page.paginator.num_pages}}&pageSize={{GLOBAL_LIST_PER_PAGE}}">末页</a></li>
						    {% endif %}
						  </ul>
						</div>
					{% endif %}