		<style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">django awesome!!</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li 
							{% if '/news/index' in request.path %}
								class="active"
				        	{% endif %}
						><a href="/news/index">首页</a></li>
						<li
							{% if '/news/article/list' in request.path %}
								class="active"
				        	{% endif %}
				        	
				        	{% if '/news/comment/list' in request.path %}
								class="active"
				        	{% endif %}
				        	
				        	{% if '/news/article' in request.path %}
								class="active"
				        	{% endif %}
				        	
						><a href="/news/article/list">文章列表</a></li>
					</ul>
					<p class="navbar-text pull-right">
						<a href="http://weibo.com/doctorkevin">
							@DoctorChou
						</a>
						
					</p>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>