<html>
	<title>{{article.title}} </title>
	
	<body>
		
		<dl>
			<dt>{{article.title}}</dt>
			<dd>
				<div>
					作者:
					{% for author in article.authors.all %}
						{{author}}
					{% endfor %}
				</div>
				<pre>
				{{article.content}}
				</pre>
			</dd>
		</dl>
		
		
		<div><a href="/news/comment/list/{{article.id}}" >查看评论</a></div>
		
		
		{% if article.attachment %}
		<div><a target="blank" href="{{MEDIA_URL}}{{article.attachment}}">下载附件</a></div>
		{% endif %}
		
	</body>
	
</html>