<html>
	
	
	<head>
		<title>{{article}} 评论列表</title>
		{% include "include/includeCss.html" %}
	</head>
	
	
	<body>
		
		{% include "include/nav.html" %}
		
		<div class="container-fluid">
			<div class="row-fluid">
				
				
				{% if page.object_list.count > 0 %}
					{% for comment in page %}
					<blockquote >
					  <p>{{ comment}}</p>
					  <small>({{ comment.comment_user}})  {{ comment.pub_date|date:"Y-m-d H:i:s" }}</small>
					</blockquote>
					{% endfor %}
					
					{% include "include/includePagination.html" %}

				{% endif %}
				
				{% if page.object_list.count < 1 %}
					<div>暂无评论</div>
				{% endif %}
				
			</div>
			
			<div>
				<legend>提交评论</legend>
				<form action="/news/comment/add" method="post" class="form-horizontal">
					{% csrf_token %}
					 <input type="hidden" name="article_id" value="{{article.id}}" />
				  <div class="control-group">
				    <label class="control-label" for="comment_text">评论内容</label>
				    <div class="controls">
				      <textarea id="comment_text" name="comment_text" ></textarea>
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="comment_user">昵称</label>
				    <div class="controls">
				       <input type="text" id="comment_user" name="comment_user" />
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <button type="submit" class="btn">提交评论</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
		
		
		
		
				
		
		
		
		
		
		
		
		
		
		
	</body>
</html>




